/* General styles */
html {
  scroll-behavior: smooth;
}


body {
  font-family: Arial,  sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  color: #eeebeb;
}
/* Adjustments for small screen sizes */
@media screen and (max-width: 700px) {
  .body {
    min-width: fit-content;
  }
} 

.logo {
  position: fixed;
  display: flex;
  top: 10px;
  left: 10px;
  align-items: center;
  margin-right: 10px; /* Adjust margin as needed */
  z-index: 999; /* Ensure the logo is above other elements */
  animation: rotate 4s infinite linear; /* Add animation properties */
}

.logo img {
  height: 55px; /* Adjust the height of the logo image */
  width: auto;
  border-radius: 40px;
}

/* Define the rotating animation */
@keyframes rotate {
  0% {
    transform: rotate(0deg); /* Start rotation from 0 degrees */
  }
  100% {
    transform: rotate(360deg); /* End rotation at 360 degrees (full rotation) */
  }
}



 /* Adjustments for small screen sizes */
@media screen and (max-width: 700px) {
  .logo {
    display: none;
  }

  nav ul li:not(:nth-child(-n+5)) {
    display: none;
  }
}


  header {
    position: relative; /* Ensure the header is a positioned container */
  }
  
   
/* Navigation */
header {
  background-color: rgba(113, 112, 112, 0.591);
  backdrop-filter: blur(2px);
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  width: 50%;
  height: 55px; /* Set a fixed height for the navigation panel */
  margin: 0 auto; /* Center the header horizontally */
  z-index: 999;
  border-radius: 20px;
  border-style: double;
  border-color: #14739c;
  padding: 10px; /* Add padding to create space around the navigation */
  box-sizing: border-box; /* Include padding in the element's total width */
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allow navigation items to wrap on smaller screens */
  max-width: 100%; /* Ensure navigation occupies the available width */
}

.menu-icon {
  display: none; /* Hide the menu icon by default */
}


.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 4px; /* Add gap between navigation items */
  flex-wrap: wrap; /* Allow navigation items to wrap on smaller screens */
}

.menu li {
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
  white-space: nowrap; /* Prevent navigation items from wrapping to a new line */
  position: relative;
}

.menu a {
  padding: 8px;
  font-size: large;
  font-weight: bold;
  color: white; /* Set the text color to white */
  transition: color 0.3s ease-in-out;
  white-space: nowrap; /* Prevent navigation items from wrapping to a new line */
  text-decoration: none;
}

.menu a:hover {
  background-color: rgba(10, 10, 10, 0.709); /* Change background color on hover */
  color: rgb(30, 142, 162);
  border-radius: 10px;
  /* Additional styles for the hovered link */
}

/* Media Query for small screens */
@media (max-width: 1090px) {
  .menu-icon {
    display: block; /* Show the menu icon */
    cursor: pointer;
    font-size: 1.5em;
    background: none;
    border: none;
    padding: 0;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out; /* Add transition for smooth animation */
  }

  .menu-icon.open {
    transform: translateY(-50%) rotate(180deg); /* Rotate the icon when menu is open */
  }

  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 10px;
    border-style: outset;
    border-color: #14739c;
    background-color: rgba(6, 6, 6, 0.834);
    padding: 10px;
    display: none;
  }

  .menu.show {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu li {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
}

/* Styles for small screens (up to 767px) */
@media screen and (max-width: 768px) {
  /* Adjustments for small screens */
  /* For example: */
  #home,
  #about,
  #skills,
  #projects,
  #articles,
  #footer {
    padding-top: 50px;
    /* Adjust other properties as needed */
  }
}





#home {
  padding-top: 10px; /* Add padding to the top of the home section */
}

#home {
  background-image: url('img/home1.webp'); /* Replace with the path to your background image */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 100px 0;
}

/* profile */
.profile {
  display: flex;
  justify-content: flex-start; /* Align the profile contents to the left */
  margin-top: 0px;
  margin-bottom: 130px;
  margin-left: 50px;
  align-items: center;
}
.profile a {
  color: #ffffff;
  font-size: x-large;
  padding: 3px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.profile a:hover {
  color: rgb(51, 191, 216);
}

.image-box {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border-style: groove;
  border-color: #14739c;
  margin: 20px auto 20px auto;
}

.image-box::before {
  content: "Hello";
  font-size: 80px; /* Increase the font size to 80px */
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  transition: left 0.5s ease-in-out;
}


.image-box img {
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(3px);
  object-fit: cover;
  margin-right: 60px;
  transition: filter 0.5s ease-in-out;
}

.image-box:hover img {
  filter: grayscale(80%);
}

.image-box:hover::before {
  left: 0;
}



/* Media Query for big screens */
@media (min-width: 350px) {
  .image-box {
    width: 380px;
    height: 450px;
    /* Additional styles for big screens */
  }

  .image-box img {
    width: 100%;
    height: 100%;
    /* Additional styles for big screens */
  }
}


/* Media Query for small screens */
@media (max-width: 1050px) {
  .profile {
    flex-direction: column;
    align-items: flex-start;
  }

  .image-box {
    margin-top: 40px;
    width: 300px;
    height: 350px;
     /* Add gap between profile and image */
  }
}





/* about */
#about {
  background-image: url('img/world.webp'); /* Replace with the path to your background image */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 100px 0;
}

#about h2 {
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-weight: bold;
  align-items: center;
  margin-top: 10px;
}

#about > p {
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.5); /* Replace with your desired background color */
  color: #ffffff; /* Replace with your desired text color */
}


#about p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  margin-bottom: 80px;
  text-align: center;
}

#about .skill > p {
  font-weight: bold;
  font-family: cursive;
  padding-bottom: 1px;
  margin-bottom: 20px;
}

#about .skill > .progress-bar {
  margin-bottom: 25px;

}
.about-content {
  display: flex;
  color: #ffffff;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  margin-bottom: 100px;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Center the content vertically */
  margin-bottom: 60px;
  gap: 5px; /* Add a gap of 10px between the text and social icons */
}

.about-content > .background{
  width: 70%;
  height: fit-content;
}

.about-content > .education{
  width: 70%;
  height: fit-content;
}

.about-content .social-icons {
  display: flex;
  gap: 10px; /* Add a gap of 10px between the social icons */
}

.about-content .social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* Set the desired size of the social icons */
  height: 40px; /* Set the desired size of the social icons */
  border-radius: 50%; /* Make the social icons circular */
  background-color: #ffffff; /* Set the background color of the social icons */
  text-decoration: none;
}

.about-content .social-icons a:hover {
  background-color: #1ea4ad; /* Set the background color of the social icons on hover */
}

.about-content .social-icons a i {
  color: #000000; /* Set the color of the social icon */
  font-size: 20px; /* Set the font size of the social icon */
}

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Center the content vertically */
  margin-bottom: 60px;
  gap: 15px; /* Add a gap of 10px between the text and social icons */
}

.certifications{
  text-align: center;
  margin-bottom: 10px;
}
.certification-carousel {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.certification-card {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.certification-card:hover {
  transform: scale(1.05);
}

.certification-image {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.certification-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.certification-card:hover .certification-image img {
  transform: scale(1.1);
}

.drive-link {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ffffff;
  text-decoration: none;
  color: #000000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drive-link:hover{
  background-color: aqua;
}

.certification-details {
  padding: 20px;
}

.certification-details h4 {
  margin-top: 0;
}

.certification-details p {
  margin-bottom: 0;
}


.background p,
.education p {
  padding: 10px;
  gap: 10px;
  margin-bottom: 30px; /* Add margin-bottom to create space between paragraphs */
  line-height: 2.5; /* Adjust the line-height value as desired */
}

.background h3,
.education h3{
  margin-top: 0;
}

.programming-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Center the content vertically */
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px 0 2px 0; /* Adjust the margin top, bottom, left, and right as desired */
}


.progress-bar {
  position: relative;
  width: 200px; /* Adjust the width of the progress bar */
  height: 20px; /* Adjust the height of the progress bar */
  background-color: rgba(117, 117, 117, 0.574);
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  position: absolute;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #27afca; /* Set the color of the filled progress */
  border-radius: 10px;
  animation: fill-progress 1s ease-in-out forwards;
  width: 0; /* Initial width of the progress bar */
}

@keyframes fill-progress {
  0% {
    width: 0;
  }
  100% {
    width: var(--progress-width);
  }
}

.skill:hover .progress {
  animation: fill-progress-hover 1s ease-in-out forwards;
}

@keyframes fill-progress-hover {
  0% {
    width: 0;
  }
  100% {
    width: var(--progress-width);
  }
}

.percentage {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.about-content > div:not(:last-child) {
  margin-bottom: 30px;
}

.about-content > div {
  background-color: transparent;
  backdrop-filter: blur(5px);
  padding: 10px;
  border-radius: 20px;
  border-style: outset;
  box-shadow: rgba(255, 255, 255, 0.1);
  border-color: #1f7a96;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 5px;
  height: 500px; /* Adjust the height as desired */
  width: 430px; /* Adjust the width as desired */
}

.about-content > .programming-skills {
  height: auto;
  width: 50%;
}

.about-content > .certifications {
  background-color: transparent;
  height: auto;
  width: 50%;
}

.about-content > div:hover {
  transform: scale(1.05);
}

/* Adjustments for small screen sizes */
@media screen and (max-width: 763px) {
  .about-content {
    margin-right: 40px;
    width: 100%;
  }
}



#skills {
  background-image: url('img/top-view-dark.avif'); /* Replace with the path to your background image */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 100px 0;
}

#skills h2 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  font-size: 60px;
  margin-top: 5px;
  gap: 10px;
}


.skills-content > h3 {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: rgb(8, 69, 127); /* Replace 'blue' with the desired color */
}

.skill-card {
  display: flex;
  background-color: #000000b9;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out, transform 0.5s cubic-bezier(0.30, 0, 0.90, 1), opacity 0.5s ease-in-out;
  cursor: pointer;
  margin-bottom: 15px;
  transform: translateX(-150px);
  opacity: 0.1; /* Initially set opacity to a lower value */
}

.skill-card.slide-in {
  transform: translateX(0);
  opacity: 1; /* Gradually increase opacity as the skill card slides in */
}



.skill-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), 0 0 40px rgba(11, 91, 145, 0.3);
}



.skill-icon {
  font-size: 24px;
}

.skills-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 80px;
  align-items: center;
  gap: 20px;
}



.professional-skills h3,
.soft-skills h3 {
  margin-top: 0;
  gap: 10px;
}

/* Adjustments for small screen sizes */
@media screen and (max-width: 763px) {
  #skills h2 {
    font-size: 60px;
  }

  .skills-content {
    margin-top: 20px;
    margin-bottom: 40px;
    gap: 20px;
  }

  .professional-skills,
  .soft-skills {
    padding: 15px;
    margin-bottom: 40px;
  }
}


/* Projects section */
#projects {
  background-image: url('img/projects.jpg'); /* Replace with the path to your background image */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  padding: 100px 0;
}

#projects h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 15px;
  gap: 25px;
}

.projects-content h3 {
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
}

.projects-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 120px;
}

.project-category {
  margin-bottom: 80px;
}

.carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.project-description a i.fab.fa-github {
  font-size: 30px; /* Adjust the font size as desired */
  color: aliceblue;
  border-radius: 50%; /* Make the icon circular */
}

.project-description a i.fab.fa-github:hover {
  color: #27afca;
}

.project-image {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  z-index: 0;
}

.slideshow > .project-image-hover{
  height: 442px;
  width: auto;
}
.project-image img {
  transition: transform 1s ease-in-out;
}

.project-image-hover {
  transform-origin: center;
}

.project-image:hover {
  transform: scale(1.05);
  z-index: 1;
}

.project-image:hover img {
  transform: scale(1.2);
}



.project-description {
  background-color: #00000092;
  padding: 40px;
  text-align: center;
  margin-bottom: 50px;
}

.project-description h3 {
  padding: 10px;
}

.project-description p {
  padding: 10px;
}

/* Adjustments for small screen sizes */
@media screen and (max-width: 763px) {
  .projects-content {
    width: contain;
  }
  .slideshow > .project-image-hover{
    height: fit-content;
    width: 350px;
  }
}




#articles {
  background-image: url('img/black1.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  padding: 80px 0; /* Adjust the top and bottom padding as desired */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#articles h2 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 48px; /* Adjust the font size as desired */
  margin-top: 15px;
  gap: 15px; /* Decrease the gap between elements as desired */
}

.articles-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust the column size as desired */
  grid-gap: 30px; /* Adjust the gap between cards as desired */
  justify-items: center;
  align-items: center;
  margin-top: 60px; /* Adjust the top margin as desired */
  margin-bottom: 80px; /* Adjust the bottom margin as desired */
}

.article-description a i.fab.fa-medium {
  font-size: x-large;
  border-radius: 30px;
  color: #ffffff; /* Set the default color of the medium icon */
  transition: color 0.3s ease-in-out; /* Add a smooth transition for the color change */
}

.article-description a i.fab.fa-medium:hover {
  color: #27afca; /* Set the color of the medium icon on hover */
}


.article-card {
  width: 100%;
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.519);
  backdrop-filter: blur(2px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  gap: 20px; /* Decrease the gap between elements as desired */
  text-align: center;
  transition: transform 0.5s ease-in-out; /* Decrease the transition duration as desired */
  z-index: 0;
}

.article-card a i.fab.fa-medium {
  font-size: 20px; /* Adjust the font size as desired */
}

.article-card img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.5s ease-in-out; /* Decrease the transition duration as desired */
}

.article-card:hover {
  transform: scale(1.05);
  z-index: 1;
}

.article-card:hover img {
  transform: scale(1.2);
}

@media screen and (max-width: 767px) {
  #articles h2 {
    font-size: 36px; /* Adjust the font size as desired */
  }

  .articles-content {
    grid-template-columns: 1fr; /* Display in a single column */
    grid-gap: 20px; /* Adjust the gap between cards as desired */
    margin-top: 40px; /* Adjust the top margin as desired */
    margin-bottom: 60px; /* Adjust the bottom margin as desired */
  }

  .article-card {
    max-width: 100%; /* Set the maximum width to 100% */
    width: auto;
  }
}

  
footer {
  background-image: url('img/footer1.jpg');
  background-size: contain;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.footer-logo {
  height: 70px; /* Adjust the height as desired */
  backdrop-filter: blur(10px);
  width: auto;
}

.contact-details h3 {
  margin-top: 0;
}

.contact-details p {
  margin-bottom: 10px;
}

.footer-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5); /* Set the background color of the social icons */
  text-decoration: none;
}

.footer-social-icons a:hover {
  background-color: #27afca; /* Set the background color of the social icons on hover */
}

.footer-social-icons a i {
  color: #000000; /* Set the color of the social icon */
  font-size: 20px; /* Set the font size of the social icon */
}

.footer-social-icons a:hover i {
  color: #ffffff; /* Set the color of the social icon on hover */
}

.visit-counter {
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: #ffffff;
}



  
  /* Media Queries */
  @media screen and (max-width: 500px) {
    .about-content,
    .skills-content {
      grid-template-columns: 1fr;
    }
  
    .carousel {
      flex-direction: column;
    }
  
    .project-card,
    .article-card {
      width: 100%;
    }
  }
  
  /* Transition Animation */
  body {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  header,
  section,
  footer {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  nav ul li a {
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  @media screen and (max-width: 500px) {
    .about-content > div,
    .skills-content > div,
    .articles-content,
    .projects-content {
      width: 100%; /* Set the width to 100% for small screens */
    }
    .about-content > div {
      height: 400px; /* Allow the height to adjust based on the content */
      width: 350px;
    }
  
    .carousel {
      flex-direction: column;
      gap: 20px;
    }

    .skills-content {
      display: flex;
      flex-direction: column; /* Display skills in a column */
      align-items: center; /* Center align the skills */
      gap: 30px;
      margin: 0 auto; /* Center the skills section horizontally */
      max-width: 350px; /* Limit the maximum width of the skills section */
    }
  
    .article-card {
      width: 300px;
    }
  }
  
  
